.main {
  .mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
    background: $white;
  }

  .mejs-container {
    width: 100% !important;
    height: 60px !important;
    @include leaf(2em);
    @include bdr($grey);
    overflow: hidden;

    .mejs-controls {
      position: relative;
      margin-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      
      .mejs-time {
        color: $blue;
      }

      .mejs-button button {
        position: relative;
        background: none;

        &:after {
          position:absolute;
          top:8px;
          left:0;
          font-size: 20px;
          font-family: FontAwesome;
          color: $blue;

        }
      }
      .mejs-play button:after {
        content: "\f04b";
      }
      .mejs-pause button:after {
        content: "\f04c";
      }
      .mejs-mute button:after {
        content: "\f028";
      }
      .mejs-unmute button:after {
        content: "\f026";
      }
      .mejs-volume-button {
        margin-left: 15px;
      }
      //Main time rail
      .mejs-time-rail {
        height: 20px;
        padding-top: 8px;

        .mejs-time-total, .mejs-time-loaded {
          height: 5px;
          border-radius: 5px;
          background-color: $blue--dark;
        }
        .mejs-time-current {
          height: 5px;
          border-radius: 5px;
          background-image:
              linear-gradient(
                to right, 
                $blue--light, $blue
              );
        }
        .mejs-time-handle {
          background-color: $blue;
          display: block;
          border: 2px solid #fff,;
          box-shadow: 0 0 0 1px #000, inset 0 0 0 1px #000;
          width:12px;
          height: 12px;
          border-radius: 100%;
          top: -3px;
        }
      }
      
      //Volume control
      .mejs-horizontal-volume-slider {
        

        .mejs-horizontal-volume-total {
          top:13px;
          height: 5px;
          border-radius: 5px;
          background-color: $blue--dark;
        }
        .mejs-horizontal-volume-current {
          height: 5px;
          border-radius: 5px;
          background-color: $blue;
        }
        .mejs-horizontal-volume-handle {
          background-color: $blue;
          border: 2px solid #fff,;
          box-shadow: 0 0 0 1px #000, inset 0 0 0 1px #000;
          width:12px;
          height: 12px;
          border-radius: 100%;
        }
      }
    }

  }
}
