.main {
  .mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
    background: $white;
  }

  .mejs-container {
    width: 100% !important;
    height: 60px !important;
    @include leaf(2em);
    @include bdr($grey);
    overflow: hidden;

    .mejs-controls {
      align-items: center;
      height: 60px;

        .mejs-button button {
          background: none;
          line-height:0;
          height:28px;

          &:after {
            font-size: 20px;
            font-family: FontAwesome;
            color: $blue;

          }
        }
        .mejs-play button:after {
          content: "\f04b";
        }
        .mejs-pause button:after {
          content: "\f04c";
        }
        .mejs-mute button:after {
          content: "\f028";
        }
        .mejs-unmute button:after {
          content: "\f026";
        }
        .mejs-time {
          color: $blue;
        }
        .mejs-replay button:after {
          content: "\f049";
        }
        .mejs-time-rail {
          span {
            outline: none;
          }
          .mejs-time-total {
            background-color: $blue--dark;
            border-radius: 5px;
          }
          .mejs-time-loaded {
            background-color: $blue2;
            border-radius: 5px;
          }
          .mejs-time-current {
            border-radius: 5px;
          }
        }
        .mejs-time-handle {
          background-color: $blue;
          display: block;
          border: 2px solid #fff,;
          box-shadow: 0 0 0 1px #000, inset 0 0 0 1px #000;
          width:14px;
          height: 14px;
          border-radius: 100%;
          top: -3px;
        }
        .mejs-time-handle-content {
          display: none;
        }
        .mejs-time-float {
          border: none;
          margin-bottom: 4px;
          height: 16px
        }

        //Volume control
        .mejs-horizontal-volume-slider {
          
          .mejs-horizontal-volume-total {
            top: 14px;
            border-radius: 5px;
            background-color: $blue--dark;
          }
          .mejs-horizontal-volume-current {
            border-radius: 5px;
            background-color: $blue;
          }
        }
    }
  }
}
