.services {
  padding-left: em(16);
  padding-right: em(16);
  padding-bottom: em(32);
  color: $white;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 7.5%, rgba(0,0,0,.75) 13%,rgba(12,48,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 0;
  animation: fadeIn 1s .5s ease-in;
  animation-fill-mode: forwards;

  h1, h2, h3, h4 {
    color: $white;
  }
  h2 {
    width:  auto;
    display: table;
    margin: 0 auto 16px;
    padding: 0.5em;
    line-height: 1;
    background: rgba(0,0,0,.3);
    @include bdr($white);
    @include leaf($radius: .75em);

    @include media-breakpoint-up(md) {
      margin-bottom: em(20, 32);
      font-size: em(32);
    }
  }
  .service-heading-link {
    display: block;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: em(32);
    padding-right: em(32);
    padding-bottom: em(60);
  }
}
.service {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    width: 27.5%;
    margin-left: em(20);
    margin-right: em(20);
  }
}
.service-content {
  margin-bottom: 3em;
  background: $blue--light;
  @include leafrev($radius: 3.5em);

  h3 {
    padding: 1em 7% 0.5em;
    text-align: center;
    line-height: 1.5;
    font-size: em(21);
    font-weight: 300;
    @include bdr-btm($color: $blue--bright);

    @include media-breakpoint-up(md) {
      flex-grow: 1;
      font-size: em(26);
    }

    .fa {
      display: block;
      margin: 0 auto em(4, 40);
      font-size: em(40);
    }
  }

  p {
    margin-bottom: 0;
    padding: .75em 2.5em 2.5em;
    text-align: center;
    line-height: em(30);
    font-size: em(14);
    flex-grow: 3;

    @include media-breakpoint-up(md) {
      font-size: 16px;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1.5em 1.5em 2em 0.75em;
    font-size: em(14);
    @include bdr-tp($color: $blue--bright);

    .btn {
      font-size: em(12);

      @include media-breakpoint-only(md) {
        width: auto;
        font-size: em(11);
        padding:.875em;
      }
      @include media-breakpoint-up(lg) {
        font-size: em(14);
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
.service-2 .service-content{
  background-color: $blue;
  h3, .buttons {
    border-color:$blue--light;
  }
}
.service-3 .service-content{
  background-color: $blue2;
  margin-bottom: 0;
  h3, .buttons {
    border-color:$blue;
  }
}
.service-read-more {
  display: table;
  margin: 0 auto em(32);
}
