body {
  font-family:  'Helvetica', Arial, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  color: $blue--text;
  background: $blue--dark;

  @include media-breakpoint-up(md) {
    background-color: $white;
  }
}
.wrap {
  margin-top: em(60);
  background: $white;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0.1em;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    padding-left: 5%;
    padding-bottom: 0;
  }
}
.content {
  padding: 0 em(20);
  overflow: hidden;

  *:not(.page-template-template-bold .section--blue, .page-template-template-bold .section--blue *, .contact-form, .contact-form *) {
    opacity: 0;
    animation: fadeIn 1s 1s;
    animation-fill-mode: forwards;
  }

  &.contact-form  {
    opacity: 1;
  }
}
@include media-breakpoint-up(lg) {
  .content, .services, .welcome-content {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}
