// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    12;

// Colors
$brand-primary:         #186c81;

$white:                 #fff;
$black:                 #000;

$grey:                  #b3b3b3;
$grey--light:           #f5f5f5;
$grey--dark:            #808080;

$blue--bright:          #67C6D9;
$blue--light:           #338ca0;
$blue:                  #0c6a80;
$blue2:                 #084A59;
$blue--dark:            #103647;

$blue--btn--light:      #10809A;
$blue--btn--lighter:    #189AB4;

$blue--text:            #145363;
