.hero {
  @include bdr-btm();

  .subtitle {
    position: absolute;
    bottom: em(10, 18);
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto;
    padding: em(10, 18);
    font-size: em(18);
    text-align: center;
    -webkit-font-smoothing: auto;
    color: $white;
    background-color: rgba(0,0,0, .4);
    @include bdr($white);
    @include leaf($radius: 1em);

    @include media-breakpoint-up(md) {
      bottom: em(20, 46);
      padding: em(10, 46);
      font-size: em(46, 18);

    }
  }

  @include media-breakpoint-up(md) {
<<<<<<< HEAD
    margin-bottom: 1em;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 2em;
=======
    height: 95vmin;
    overflow: hidden;
    padding-top: 60px;
>>>>>>> parent of 4879d69... 0.3 Ready For Remote Testing
  }
}
.hero-image {
  display: block;
  width: 100%;
  height: auto;
  animation: fadeIn 1s ease-in;

  @include media-breakpoint-up(md) {
    position: fixed;
  }
}
.content.no-hero {
  padding-top: 0;

  @include media-breakpoint-up(md) {
    margin: 2em;
    padding-top: 9.5vw;
    padding-bottom: 4.5vw;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 59px;
  }
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}