.home {
  background-color: $black;
  position: relative;
  .main {
    @include media-breakpoint-up(md) {
      padding-top: calc(75vh - 210px);
    } 
  }
  .banner {
    position: absolute;
    color: $white;
    background-color: transparent;
    
    @include media-breakpoint-up(md) {
      width:100%;
      height: auto;
      padding: em(30) 0;
    }

    svg:hover #Logo path {
      fill: $blue--bright;
    }
    .btn-outline {
      position: absolute;
      top: 0;
      right: em(11, 9);
      font-size: em(9);
      
      @include media-breakpoint-up(md) {
        font-size: em(15);
        right: em(30, 15);
      }

      &:hover {
        color: $blue--bright;
        border-color: $blue--bright;
      }
    }
  }
  .navbar-brand {
    @include media-breakpoint-up(md) {
      width: em(60, 20);
      height: em(60, 20);
      margin-top: 1em;
      text-align: center;
      padding: 0;
      border-bottom: none;
    }
  }
  .wrap {
    margin-top: 0;
    padding-top: em(60);
    background-color: transparent;

    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-top: em(140);
    }
  }
  .page-header {
    position: static;
    h1 {
      z-index: 9;
      border-bottom: none;
      color: $white;
      margin-left: 5%;
      margin-right: 5%;

      @include media-breakpoint-up(md) {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0;
        padding-left: .75em;
        padding-right: .75em;
        font-size: em(42);
        text-align: center;
        background-color: transparent;
      }
    }
  }
  .hero {
    position: absolute;
    top: em(-60);
    left: 0;
    z-index: -1;
    padding-top: 0;
    opacity: .36;
    border-bottom: none;
    animation: homeFadeIn 1s ease-out;

    @include media-breakpoint-up(md) {
      position: fixed;
      overflow:visible;
      padding-top: 0;
      top: 0;
      height: 90vh;
    }

    @include media-breakpoint-down(md) {
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 17.5%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }
  }
  .hero-image {
    position: static;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh; 
  }
  .content {
    padding: em(40) em(20) 0;
    background-color: $white;
    text-align: justify;
    h2 {
      padding: 0 0.5em 0.5em;
      font-size: em(26);
      border-bottom: none;

      @include media-breakpoint-up(md) {
        text-align: center;
        padding-left: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      padding-left: 12.5vw;
      padding-right: 12.5vw;
    }
    .section--blue {
      display: flex;
      flex-direction: column;
      
      h2 {
        padding-left: 1.5em;
        padding-right: 1.5em;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
          padding-left: 0;
          padding-right: 0;
          font-size: em(34);
          text-align: left;
        }
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
        
        .content--group {
          flex: 0 0 80%;
          padding-right: 5%;
        }

        .text-right{
          flex: 0 0 20%;
          display: flex;
          flex-direction: column;

          .btn:first-of-type {
            margin-bottom: 2em;
          }
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
      @include media-breakpoint-up(lg) {
        left: -10.95vw;
      }
    }
  }
  .welcome-content {
    padding: 0 em(32);
    margin-bottom: em(64);
    color: $white;
    text-align: center;
    transform: translateX(100vw);
    animation: slideInFromRight 1s .5s ease-in-out;
    animation-fill-mode: forwards;

    @include media-breakpoint-up(md) {
      position: absolute;
      left: 0;
      right: 0;
      top: em(89);
      width: 90vw;
      min-height: calc(50vh - 160px);
      margin-bottom: em(20);
      margin-right: auto;
      margin-left: auto;
      line-height: 2;
      font-size: 16px;
    }

    h1, h2, h3, h4 {
      color: $white;
    }
  }
}