.single-portfolio {
  .portfolio-slide-gallery {
    width: 100%;
    overflow: hidden;
    background-color: $grey--light;
    @include bdr-btm($grey);
    position: relative;
    * { box-sizing: border-box; }

    .gallery {
      margin: 0;

      .gallery-item {
        max-width: 100%;
        margin-bottom: 0;
        padding: 0;
        .gallery-caption {
          position: relative;
          margin-top:-60px;
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
      }
      img {
        border-radius: 0;
        object-fit: cover;

        @include media-breakpoint-up(md) {
          height: 70vmin;
          width: auto;
        }
      }
      @include media-breakpoint-up(md) {
        margin: 0 3em;
        height: 75vmin;
      }
    }
  }
  .project-title {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      margin-bottom: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
      font-size: em(50);
    }
  }
  .portfolio-playlist {
    padding: em(20) 7.5% 0;
    background: $grey--light;

    .wp-playlist-tracks {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }


    @include media-breakpoint-up(md) {
      padding: em(20) 2.5% 0;
    }

    .wp-playlist-current-item {
      display: none;
    }
  }
  .project-meta {
    padding: 0 7.5% em(20);
    background: $grey--light;
    @include bdr-btm($grey);

    @include media-breakpoint-up(md) {
      padding-left: 2.5%;
      padding-right: 2.5%;
    }
  }
  .project-styles, .project-attributes {
    padding: 1em;
    text-align: center;
    background-color: $white;

    @include bdr($grey);
    border-top: none;
  }
  .project-styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .btn {
      display: block;
      flex-grow:10;
      margin: 0 .5em 0;
      font-size: em(12);
      padding: .5em .67em;
      background-color: $grey--light;

      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .project-attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: .25em;
    .fa {
      font-size: em(20);
      margin-right: 0.25em;

      @include media-breakpoint-up(md) {
        font-size: em(28);
        margin: em(8, 28);
      }
    }

    a {
      @include media-breakpoint-down(md) {
        @include bdr($grey);
        @include leaf(15px);
        padding: 0.25em 0.5em;
        margin: 0.25em;
      }
    }

    @include media-breakpoint-up(md) {
      .att-name {
        display: inline-block;
        position: relative;
        top: em(-4);
      }
    }
  }
  article.portfolio {
    header {
      h2 {
        font-size: em(41);
        text-align: center;
        .subtitle {
          display: block;
          margin-bottom: .25em;
          font-size: em(18, 41);
        }
      }
    }
    header h2, footer {
      margin: em(40, 72) 5%;
      @include media-breakpoint-up(md) {
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
      @include media-breakpoint-up(lg) {
        margin: em(40, 72) 15vw;
      }
    }
    footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @include bdr-tp($grey);
      margin-top: em(30);
      margin-bottom: em(20);
      padding-top: em(20);

      .buttons {
        display: flex;
        @include media-breakpoint-down(sm) {
          justify-content: space-between;
          width: 100%;
          padding-top: 1.25em;
          @include bdr-tp($grey);
        }
        @include media-breakpoint-up(md) {
          flex-basis: 33%;
          border-top: none;
          font-size: em(14);
          justify-content: flex-end;
        }
      }

      @include media-breakpoint-up(md) {
        margin-top: em(60);
        margin-bottom: em(16);
      }
    }//end footer
    .types {
      width: 100%;
      margin-bottom: em(16);
      padding-bottom: em(16);
      @include bdr-btm($grey);
      color: $grey;
      h3 {
        font-size: em(18);
      }
      .nav-item {
        margin-right: em(16);
      }
      a {
        color: $grey;
      }

      @include media-breakpoint-up(md) {
        flex-basis: 100%;
      }
    }
    .share  {
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 1.25em;
      }
      @include media-breakpoint-up(md) {
        flex-basis: 60%;
        justify-content: space-between;
        padding-right: em(24);
      }
      p {
        width: 100%;
        margin-bottom: 0;
        font-size: em(20);
        @include media-breakpoint-up(md) {
          width: auto;
          display: inline-block;
        }
      }
      .social-icon {
        width: em(30);
        height: em(30);
        line-height: 1.75em;
        border-color: $blue;
        color: $blue;
        margin: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .page-header {
      margin-bottom: 0;
      .btn {
        display: none;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .media-container {
      margin-top: em(60);
    }
    article footer .buttons a:first-of-type {
        margin-right: 1em;
      }
  }
}

.post-type-archive-portfolio, .archive.tax-attribute, .archive.tax-style, .archive.tax-type {
  .wrap {
    background-color: $grey--light;
    // opacity: 0;
    // animation: fadeIn .5s;
    // animation-fill-mode: forwards;
    // animation-iteration-count: 1;
  }
  .page-header {
    margin-bottom: 0;
  }
  .main {
    @include media-breakpoint-up(md) {
      height: 100vh;
    }
  }
  .portfolio {
    padding-bottom: em(10);
    background: $grey--light;
    @include bdr-btm($grey);
    // opacity: 0;
    // animation: fadeIn 1s 1s;
    // animation-fill-mode: forwards;
    // animation-iteration-count: 1;

    &:last-of-type {
      border-bottom: none;
    }
    header {
      padding-left: em(10);
      padding-right: em(10);
      text-align: center;
      h2 {
          margin: 0;
          padding: .5em 0 .25em;
          font-size: em(40);
          border-bottom: none;
          .subtitle {
            display: block;
            font-size: em(18, 40);
          }
        }
        a.btn-outline-grey {
          display: inline-block;
          padding: em(10) em(20);
          background-color: $white;

        }
        time {
          display: block;
          margin-top: .5em;
          padding-right: 4px;
          color: $grey;
          font-style: italic;
          font-size: em(12);
        }
    }
    .content {
      position: relative;
      width: 100%;
      text-align: center;

      @include media-breakpoint-down(md) {
        padding-top: .5em;
        padding-left: .625em;
        padding-right: .625em;
      }

      @include media-breakpoint-up(md) {
        align-self: center;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: em(-44);
        padding: 2em 1em 1.5em;
      }

      .project-thumb {
        display: block;
        height: 90vw;
        overflow: hidden;
        @include leaf(10vh);

        @include media-breakpoint-up(md) {
          width: 64.6666vmin;
          height: 64.6666vmin;
          display: flex;
          align-items: center;
        }

        img {
          width:100%;
          height: auto;
          min-height:100%;
          object-fit: cover;
          @include leaf(10vh);

        }
      }

    }
    footer {
      position: relative;
      width: 100%;
      align-self: flex-end;
      padding: em(10);
      h3 {
        width: 100%;

        .genres a, .genres {
            color: $grey;
            font-style: italic;
        }
        .genres {
          @include media-breakpoint-up(md) {
            display: block;
            float: right;
            margin-right: em(48, 14);
            padding-top: em(18, 14);
            font-size: em(14, 30);
            font-family: 'Helvetica', Arial, sans-serif;
            color: $grey--dark;
            .genre-sep {
              display: none;
            }
          }
        }

        @include media-breakpoint-down(sm) {
          text-align: center;
          font-family: 'Helvetica', Arial, sans-serif;
          font-size: em(12);
          color: $grey--dark;
        }
        @include media-breakpoint-up(md) {
          position: absolute;
          transform: translate(0%,-110%);
          font-size: em(30);
        }
      }
    }

    @include media-breakpoint-up(md) {
      width:90vw;
      padding-bottom: 0;
      border-bottom: none;
      .fp-tableCell {
        display: flex;
        flex-direction: column;
        padding: em(71) em(10) em(10);
      }

      header {
        width:100%;
        align-self: flex-start;
        padding-left: 0;
        padding-right: 0;
        h2 {
          float:left;
          padding-top: 0;
          padding-left: em(10, 40);
          line-height: 1;
        }
        a.btn-outline-grey {
          float: right;
        }
        time {
          float: right;
          clear: right;
        }
      }
    }
  }
  #fp-nav {
    // transform: translateY(100vh);
    // animation: slideUp .7s 1s ease-in-out;
    // animation-fill-mode: forwards;
    // animation-iteration-count: 1;

    @include media-breakpoint-up(md) {
      width: 5%;
      position: fixed;
      top: 60px;
      right: 0;
      background: #FAFAFA;
      height: calc(100vh - 60px);
      @include bdr-l($grey);
      display: flex;
      align-items: center;
      margin-top: 0 !important;
      z-index: 0;

      ul {
        width: 100%;
        margin-bottom: 0;
        list-style: none;
        padding: 0;
        li {
          margin: 7px auto;
          .fp-tooltip {
            background: $blue--dark;
            padding: .5em 1em;
            top:-1em;
            border-radius: .25em;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
            overflow:visible;
          }
          .fp-tooltip:after {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(16, 54, 71, 0);
            border-left-color: #103647;
            border-width: 8px;
            margin-top: -8px;
          }
        }
        li a{
          display: block;
          width: em(8);
          height: em(8);
          margin: em(16) auto;
          background-color: $blue--dark;
          border-radius: 100%;
          transition: all .5s ease;

          &.active {
            background-color: $blue--light;
          }
        }
      }
    }
  }
}
