.single-portfolio {
  .portfolio-slide-gallery {
    width: 100%; 
    overflow: hidden; 
    background-color: $grey--light;
    @include bdr-btm($grey);
    position: relative;
    * { box-sizing: border-box; }

    .gallery {
      margin: 0;

      .gallery-item {
        max-width: 100%;
      }
      img {
        border-radius: 0;
        object-fit: cover;

        @include media-breakpoint-up(md) {
          width: 70vmin;
        }
      }
      @include media-breakpoint-up(md) {
        margin: 0 3em;
        height: 75vmin;
      }
    }
  }
  .project-title {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      margin-bottom: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
    }
  }
  .portfolio-playlist {
    padding: em(20) 7.5% 0;
    background: $grey--light;
    // @include bdr-btm($grey);
    
    .wp-playlist-tracks {
      @include media-breakpoint-down(md) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      } 
    }
    

    @include media-breakpoint-up(md) {
      padding: em(20) 7.5%;
    }

    .wp-playlist-current-item {
      display: none;
    }
  }
  .project-meta {
    padding: 0 7.5% em(20);
    background: $grey--light;
    @include bdr-btm($grey);
  }
  .project-styles, .project-attributes {
    padding: 1em;
    text-align: center;
    background-color: $white;
    
    @include bdr($grey);
    border-top: none;
  }
  .project-styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    .btn {
      margin-bottom: 0;
      font-size: em(12);
      padding: .5em .67em
    }
  }
  .project-attributes {
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 2em;
    .fa {
      font-size: em(20);
    }
  }
  article.portfolio {
    header {
      h2 {
        font-size: em(41);
        .subtitle {
          display: block;
          margin-bottom: .25em;
          font-size: em(18, 41);
        }
      }
    }
    header h2, footer {
      margin: em(40, 72) 5%;
      @include media-breakpoint-up(md) {
        margin: em(40, 72) 12.5%;
      }
    }
    footer {
      @include bdr-tp($grey);
      margin-top: em(30);
      margin-bottom: em(20);
      padding-top: em(20);
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        .buttons {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding-top: 1.25em;
          @include bdr-tp($grey);
        }
      }
      @include media-breakpoint-up(md) {
        margin-top: em(60);
        margin-bottom: em(40);
      }
    }
    .types {
      width: 100%;
      margin-bottom: em(15);
      @include bdr-btm($grey);
      color: $grey;
      a {
        color: $grey;
      }
    }
    .share  {
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 1.25em;
      }
      @include media-breakpoint-up(md) {
        padding-right: em(40);
      }
      p {
        width: 100%;
        margin-bottom: 0;
        font-size: em(20);
        @include media-breakpoint-up(md) {
          width: auto;
          display: inline-block;
        }
      }
      .social-icon {
        width: em(30);
        height: em(30);
        line-height: 1.75em;
        border-color: $blue;
        color: $blue;
        margin: 0;
        @include media-breakpoint-up(md) {
          margin: em(10);
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .page-header {
      margin-bottom: 0;
      .btn {
        display: none;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .media-container {
      margin-top: em(60);
    }
    article footer .buttons a:first-of-type {
        margin-right: 1em;
      }
  }
}

.post-type-archive-portfolio, .archive.tax-attribute, .archive.tax-style, .archive.tax-type {
  .page-header {
    margin-bottom: 0;  
  }
  .main {
    @include media-breakpoint-up(md) {   
      height: 100vh;
    }
  }
  .portfolio {
    padding-bottom: em(10);
    background: $grey--light;
    @include bdr-btm($grey);

    &:last-of-type {
      border-bottom: none;
    }
    header {
      padding-left: em(10);
      padding-right: em(10);
      text-align: center;
      h2 {
          margin: 0;
          padding: .5em 0 .25em;
          font-size: em(40);
          border-bottom: none;
          .subtitle {
            display: block;
            font-size: em(18, 40);
          }
        }
        a.btn-outline-grey {
          display: inline-block;
          padding: em(10) em(20); 
          background-color: $white;

        }
        time {
          display: block;
          margin-top: .5em;
          padding-right: 4px;
          color: $grey;
          font-style: italic;
          font-size: em(12);
        }
    }
    .content {
      position: relative;
      width: 100%;
      text-align: center;

      @include media-breakpoint-down(md) {
        padding-top: .5em;
        padding-left: .625em;
        padding-right: .625em;
      }

      @include media-breakpoint-up(md) {
        align-self: center;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: em(-44);
        padding: 2em 1em;
      }

      .project-thumb {
        display: block;
        height: 90vw;
        overflow: hidden;
        @include leaf(10vh);

        @include media-breakpoint-up(md) {
          width: 67vmin;
          height: 67vmin;
          display: flex;
          align-items: center;
        }
        
        img {
          width:100%;
          height: auto;
          min-height:100%;
          object-fit: cover;
        }
      }
      
    }
    footer {
      position: relative;
      width: 100%;
      align-self: flex-end;
      padding: em(10);
      h3 {
        width: 100%;

        .genres a, .genres {
            color: $grey;
            font-style: italic;
        }
        .genres {
          @include media-breakpoint-up(md) {
            display: block;
            float: right;
            margin-right: em(48, 14);
            padding-top: em(18, 14);
            font-size: em(14, 30);
            font-family: 'Helvetica', Arial, sans-serif;
            color: $grey--dark;
            .genre-sep {
              display: none;
            }
          }
        }

        @include media-breakpoint-down(sm) {
          text-align: center;
          font-family: 'Helvetica', Arial, sans-serif;
          font-size: em(12);
          color: $grey--dark;
        }
        @include media-breakpoint-up(md) {
          position: absolute;
          transform: translate(0%,-110%);
          font-size: em(30);
        }
      }
    }

    @include media-breakpoint-up(md) {
      width:90vw;
      padding-bottom: 0;
      border-bottom: none;
      .fp-tableCell {
        display: flex;
        flex-direction: column;
        padding: em(71) em(10) em(10);
      }

      header {
        width:100%;
        align-self: flex-start;
        padding-left: 0;
        padding-right: 0;
        h2 {
          float:left;
          padding-top: 0;
          padding-left: em(10, 40);
          line-height: 1;
        }
        a.btn-outline-grey {
          float: right;
        }
        time {
          float: right;
          clear: right;
        }
      }
    }
  }
  #fp-nav {
    @include media-breakpoint-up(md) {
      width: 5%;
      position: fixed;
      top: 0;
      right: 0;
      background: #FAFAFA;
      height: 100vh;
      @include bdr-l($grey);
      display: flex;
      align-items: center;
      margin-top: 0 !important;
      z-index: 0;

      ul {
        width: 100%;
        margin-bottom: 0;
        list-style: none;
        padding: 0;
        li a{
          display: block;
          width: em(8);
          height: em(8);
          margin: em(16) auto;
          background-color: $blue--dark;
          border-radius: 100%;
          transition: all .5s ease;

          &.active {
            background-color: $blue;
          }
        }
      }
    }
  }
}
